# Ignore everything
*

# But not these files...
!.gitignore
!init.el
!manual_setup_documentation.md
!setup_info.md
!lisp/
!site-lisp/*
!lisp/*
!site-lisp/
!elpa/popon-20230703.102713/
!elpa/corfu-terminal-20230703.102950/
